@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");
#socialShareBtnCont {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #0006;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    color: #eceff1;

    backdrop-filter: blur(2px);

    ::selection {
        background-color: #7e57c2;
    }
    &.hide {
        display: none;
    }
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #0000;
    }
    ::-webkit-scrollbar-thumb {
        background: #546e7a;
        border-radius: 10000px;
    }
    .main {
        width: min(450px, 90vw);
        background-color: #37474f;
        border-radius: 10px;
        padding: 10px;
        box-shadow: #546e7a inset 1px 1px 1px 0, #000 inset -1px -1px 1px 0;
        > .title {
            font-size: 1.5rem;
            border-bottom: 1px solid #90a4ae;
            padding-bottom: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            .closeBtn {
                margin-left: auto;
                border: none;
                background: none;
                font-size: 1.3rem;
                color: currentColor;
                align-self: flex-end;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        .shareBtns {
            width: 100%;
            // height: 5rem;
            background-color: #263238;
            padding: 10px 10px;
            border-radius: 10px;
            margin-top: 10px;
            overflow-x: auto;
            box-shadow: #546e7a inset 1px 1px 1px 0, #000 inset -1px -1px 1px 0;

            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            .socialBtn {
                border: none;
                background: none;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 4rem;
                height: 100%;
                color: currentColor;
                font-family: Roboto;
                padding: 8px;
                border-radius: 5px;

                transition: 0.1s box-shadow;
                box-shadow: inset 0 0 0 0px #455a64;

                &:hover {
                    transition: 0s box-shadow;
                    // box-shadow: inset 0 0 20px 5px #455a64;
                    box-shadow: inset 0 0 0 2px #455a64;
                }
                &:active {
                    transition: 0.1s box-shadow;
                    box-shadow: inset 0 0 0 2px #455a64;
                    background-color: #455a64;
                }
                .icon {
                    --accentColor: #0000;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 1000000px;
                    background-color: var(--accentColor);
                    display: grid;
                    place-items: center;
                    svg {
                        height: 1.8rem;
                        path {
                            fill: currentColor;
                        }
                    }
                }
                .title {
                    font-size: 0.75rem;
                }
            }
        }
        .copyLink {
            padding: 5px 0;
            display: grid;
            grid-template-columns: auto 6rem;
            gap: 10px;
            align-items: center;
            .text {
                width: 100%;
                background-color: #263238;
                padding: 10px 10px;
                user-select: all;
                border-radius: 10px;
                height: 100%;
                overflow-x: auto;
                display: grid;
                place-items: center;
                font-size: 0.9rem;
                box-shadow: #546e7a inset 1px 1px 1px 0,
                    #000 inset -1px -1px 1px 0;
                span {
                    white-space: nowrap;
                }
            }
        }
    }

    .copyBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        border: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        color: #eceff1;
        font-family: "Roboto";
        background-color: #6200ea;
        user-select: none;
        &:hover {
            // background-color: #7c4dff;
            box-shadow: inset #7c4dff 20px 20px 50px, inset #311b92 0 -5px 20px;
        }
        &:active {
            box-shadow: inset #311b92 0 5px 20px, inset #7c4dff -20px -20px 50px;
        }
        // &:focus {
        //     box-shadow: #b388ff 0 0 0 2px;
        // }
        svg {
            height: 1.3rem;
            path {
                fill: currentColor;
            }
        }
    }
}
